/*base.sass*/

@import reset

$font-stack : 'Open Sans Condensed', sans-serif;

body {
	background-color: white;
}

/*-------HEADER AND NAV*/

ul .header-list-buttons {
	width: 100%;
}

.header-list-buttons {
	float: right;
	list-style-type: none;
}

.header-list-buttons a {
	color: black;
}

.header-list-buttons li {
	display: inline;
	padding: 1%;
	float: right;
	font-family: 'Open Sans Condensed', sans-serif;
}

.nav {
	width: 100%;
}

.navbar-default {
	background-color: white;
	border-radius: 0;
}

#header {
	font-family: 'Sacramento', cursive;
	text-align: center;
	color: gray;
	margin-top: 16%;
	font-size: 6em;
}

#header2 {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	color: gray;
}

#header-container {
	background: url(../images/desk.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 600px;
}

/*----------ABOUT SECTION*/
.about-topic {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	color: gray;
  padding: 40px;
}

/*----------SKILLS SECTION*/
.circle-1 {
  margin-left: 12%;
  margin-bottom: 10%;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  background-color: white;
  color: white;
  border: 2px solid white;
  text-align: center;
  margin-top: 8%;
  animation: circle 3s linear infinite;
  animation-play-state: paused;
  font-size: 4.3em;
  padding-top:16%;
  font-family: 'Sacramento', cursive;
}

.front-end-details {
  display: none;
}

.linear-move {
  display: block;
}

@keyframes circle {
    /*100% {transform: rotate(1turn); }*/
    0%   {background-color: #ffe6e6;}
    15%  {background-color: #ffe6e6;}
    25%  {background-color: #f2f2f2; color: white;}
    40%  {background-color: #f2f2f2; color: white;}
    60%  {background-color: #ffe6e6;}
    75%  {background-color: #ffe6e6;}
    100% {background-color: #ffe6e6;}
}
.circle-1:hover {
animation-play-state: running;
}

.linear-move {
     /* Chrome, Safari, Opera */
    -webkit-animation: mymove 5s infinite;
    -webkit-animation-timing-function: linear;
    animation: mymove 5s infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}
/* Standard syntax */
@keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}

#fe-item {
  border: solid 2px #e6e6e6;
  padding: 2%;
  margin: 2%;
  color: #8c8c8c;
}
#fe-item:hover {
  background-color: #e6e6e6;
  color: white;
}

#front-end-list {
  padding-bottom: 5%;
}




/*----------PORTFOLIO SECTION*/
.port {
  padding: 0px;
}
.portfolio-image {
  height: 300px;
  width: 430px;
  border: 2px solid black;
  padding: 0px;
}

.updates {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  color: gray;
  font-size: 2em;
  margin: 6%;
}


/*----------CONTACT SECTION*/
.contact-links {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	color: gray;
}

.contact-subject {
  width: 25%;
}
.contact-email {
  width: 25%;
}

.social-icon {
  padding: 9px;
  color: gray;
  font-size: 2em;
}

.social-icons {
  margin-bottom: 3%;
  margin-top: 1%;
}

#contact-link li {
	text-decoration: none;
	vertical-align: left;
}

#contact-p {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  color: gray;
}



/*----------FOOTER SECTION*/
.footer {
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: gray;
	height: 150px;
	color: white;
  padding: 0px;
}

#footer-p {
	padding-top: 7%;
	text-align: center;
}

#name {
	text-decoration: none;
	color: black;
}



