/*// bower:scss*/
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
/*// endbower*/

/*body.home {
  width: 100% auto;
/*  height: 1700px;*/
/*  background-size: 100% auto contain;*/
  /*background-color:rgba(0, 0, 0, 0);*/
/*  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  margin: 0 0 50px;*/
/*}*/

body {
  background: url(../images/bed_and_laptop.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  font-family: 'Loved by the King', cursive;
  font-size: 8em;
  color: white;
  cursor: pointer;
  display: table;
  height: 350px;
  left: 0;
  width: 100%;
  opacity: 0;
}
.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.page-wrap {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
 }
/* .main-content {
  width: 100%;
}*/
.main-content {
  -webkit-box-ordinal-group: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-ordinal-group: 1;      /* OLD - Firefox 19- */
  -ms-flex-order: 1;              /* TWEENER - IE 10 */
  -webkit-order: 1;               /* NEW - Chrome */
  order: 1;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}


body.background-image {
  color: rgba(0, 0, 0, 0.9);
}

.enter-button:hover a {
  background-color: black;
  color: white;
  border: none;
}

a.enter-button {
  padding: 15px;
  color:black;
  text-decoration: none;
}

h1 {
  font-family: 'Megrim', cursive;
  text-align: center;
  color: white;
  font-size: 15vw;
  margin-top: 0px;
  margin-bottom: 10px;
}

.about-page {
  background-color: white;
  background-image: none;
}

.button:hover {
  background-color: #B6F8F8;
  color: #B6F8F8;
  font-size: 2em;
  font-family: 'Megrim', cursive;
  border-radius: 60%;
  padding: 20px;
  text-decoration: none;
  transform: rotate(0deg);
}

.col-lg-12 p {
  text-align: left;
}

.col-lg-1 .fa {
  font-size: 1.8em;
}
.fa-github {
  color: white;
  background-color: none;
  opacity: .7;
  padding: 3px;
  font-size: 2em;
}
.fa-twitter {
  color: white;
  background-color: none;
  opacity: .7;
  padding: 3px;
}
.fa-linkedin {
  color: white;
  background-color: none;
  opacity: .7;
  padding: 3px;
}
.fa-instagram {
  color: white;
  background-color: none;
  opacity: .7;
  padding: 3px;
}

.fa-github:hover {
  background-color: none;
  opacity: 1;
}
.fa-twitter:hover {
  background-color: none;
  opacity: 1;
}
.fa-linkedin:hover {
  background-color: none;
  opacity: 1;
}
.fa-instagram:hover {
  background-color: none;
  opacity: 1;
}

.footer .footer-row {
  width: 100%;
  background: #999;
}

.footer-row {
  text-shadow: 1px 1px grey;
  position: fixed;
  bottom: 0px;
  height: auto;
  align: center;
  font-size: 2em;
}

.home-header h2 {
  text-align: center;
  text-decoration: none;
  font-size: 5.9vw;
  font-family: 'Amatic SC', cursive;
  margin-bottom: 75px;
}

.home-nav-link a{
  color: white;
  text-decoration: none;
  font-size: 4rem;
  display: inline-block;
  font-family: 'Amatic SC', cursive;
}

.nav-links-row {
  text-align: center;
}

.main-menu {
  text-align: center;
}

.specialties {
  text-align: center;
}

.specialties-row {
  text-align: center;
}

.social-icons {
  margin-left: 40%;
  margin-top: 5%;
}

.specialties {
  margin-top: 5%;
  font-family: 'Amatic SC', cursive;
  font-size: 7em;
  letter-spacing: 15px;
  color: white;
  text-shadow: 1px 1px black;
}

.specialties-container {
  background-color: grey;
  height: 300px;
  opacity: .3;
}

.travel img {
  border: black solid 3px;
}

#about-picture {
  vertical-align: middle;
}

#caption {
  font-family: 'Shadows Into Light', cursive;
}


#foot {
  margin-right: 20px;
  margin-left: 30px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
}

#get-in-touch-button {
  color: white;
  background-color: black;
  font-size: 2em;
  border: white 2px solid;
  margin-top: 2%;
  margin-left: 44%;
  border-radius: 3%; padding: 15px;
  font-family:  'Amatic SC', cursive;
}
#get-in-touch-button:hover {
  background-color: white;
  color: black;
}
#get-in-touch-button > button > a #mail-to:hover {
  color: black;
}
/*style="color: white; background-color: black; font-size: 2em; border: white 2px solid; margin-top: 2%; margin-left: 42%; border-radius: 3%; padding: 15px; font-family:  'Amatic SC', cursive;"*/

#homepage-header {
  margin-top: 3%;
  color: white;
  text-shadow: 1px 1px grey;
}

#homepage-header h2 a {
  color: white;
  font-weight: 900;
}

#nav-links-row {
  background-color: white;
  font-size: 0;
}

